/*************************
*******Preload Page*******
**************************/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}
.pattern{
  /*background:rgba(256,256,256,.5) url(../images/pattern.png);*/
  background:rgba(230,230,230,.5) url(../images/pattern.png);
  padding-top:50px;
  padding-bottom: 50px;
}
/*************************
********Navbar CSS********
**************************/

#home nav{
  padding-bottom: 5px;
  text-align: center; 
}

.nav-pattern{
  background:rgba(0,0,0,.95) url(../images/pattern.png);
}

.navbar-nav li a:focus{
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}


.content-search nav{
  padding-bottom: 5px;
  text-align: center; 
}

.navbar-header {
    width: 90px;
    height: 60px;
}

.navbar-brand:focus{
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}

.navbar-right li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.navbar-right li.active a {
  background-color: rgba(0,0,0,.2);
}

.navbar-brand h1 {
  margin-top: 4px;
}
.container ul{
  margin-top: 10px; 
}
